#circle {
    width: 100px;
    height: 100px;
    background-color: aqua;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    transform: rotateY(0deg);
    transition: all 1s;
}

#inner {
    color: black;
    font-size: 50px;
    line-height: 100px;

}

#circle:hover {

    background-color: black;
    border: aqua solid 2px;
    transform: rotateY(180deg);
}

#circle:hover #inner {
    color: aqua;
    
}


    