

#container {
    width: 300px;
    height: 300px;
    border: black solid 2px;
    object-fit: contain;
    overflow: hidden;
    margin: 50px auto;
}

img {
    position: relative;
    right: 180px;
    top: -10px;
    transform: scale(1);
    transition: all 1s;
}

img:hover {
    transform: scale(1.5);
}