body {
   margin: 0;
   background: none;    
}

#parallax {
    background-image: url("../pobrane.jpeg");
    height: 500px;
    width: 100%;

    /*  parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.div {
    width: 100%;
    height: 300px;
    background-color: bisque;
}

.boki {
    height: 100vh;
    width: 50px;
    background-color: bisque;
    position: fixed;
    z-index: 10;
}

#boki {
    right: 0;
    
}

